<header>
    <div id="mainNavigation">
        <div class="container">
            <nav role="navigation">
                <div class="top py-3 text-center border-bottom d-flex">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="/img/assets/images/logo.png" alt="" class="invert">
                    </a>
                    <div class="phone_block d-flex align-center">
                        <div class="phoneSchedule ">
                            <a href="tel:+994505551525" class="c-black s-21 td-none">
                                (+994 50) 555-15-25
                            </a>
                            <br>
                            <a href="tel:+994555551525" class="c-black s-21 td-none">
                                (+994 55) 555-15-25
                            </a>
                        </div>
                        <div class="recall primary d-flex align-center openModal" data-modal="recall">
                            <div class="recall_text primary row-wrap">
                                <span class="recall d-block s-10 w100">Konsultasiya</span>
                            </div>
                            <div class="recall_link primary">
                                <a href="https://wa.me/994555551525">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="navbar-expand-md d-flex">
                <div class="menu">
                    <div class="navbar-dark text-center my-2">
                        <button class="navbar-toggler w-100" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
                        </button>
                    </div>
                    <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto ">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Index">Əsas səhifə</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="all" asp-action="index" asp-route-buy="true">Almaq</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="all" asp-action="index" asp-route-rent="true">Kirayə</a>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Ətraflı
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                                    style="width: 95%; text-align: center;">
                                    <li><a class="dropdown-item" asp-controller="about" asp-action="index">Haqqımızda</a></li>
                                    <li><a class="dropdown-item" asp-controller="contact" asp-action="index">Konsultasiya</a></li>
                                    <li><a class="dropdown-item" asp-controller="packages" asp-action="index">Tariflər</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="fav">
                    <a asp-controller="Basket" asp-action="Index"  class="favv d-flex">
                        <i class="fa-solid fa-heart" style="margin-top: 7px; padding: 0px 5px;"></i>
                        @if(!string.IsNullOrWhiteSpace(ViewBag.Counter))
                        {
                            <span id="basket-cart" style="color: white; opacity: 0.5;">@ViewBag.Counter</span>
                        }
                        else
                        {
                            <span id="basket-cart" style="color: white; opacity: 0.5;">0</span>
                        }

                    </a>
                </div>
            </div>
        </div>
    </div>
</header>