@model Contact
<section>
    <div class="form d-flex align-center">
        <div class="container">
            <div class="row">

                <div class="inner d-flex align-center">
                    <div class="text col-xs col-sm col-md-4 col-lg-4">
                        <h5 class="s-35 c-white">
                            <span class="c-primary d-block">Bizimlə əlaqə! </span> Bir sorğu göndərin
                            <br>Mütəxəssisimiz 1 dəqiqə ərzində sizinlə əlaqə saxlasın!
                        </h5>
                    </div>
                    <div class="wForm col-xs col-sm col-md-8 col-lg-8">
                        <p class="c-white" style="margin-top: 2%;">
                            <span class="s-35 d-block">Adınızı və əlaqə nömrənizi qeyd edin</span>
                            <span class="s-16">bizim əməkdaşlar sizə köməklik göstərsin!</span>
                        </p>
                        <form asp-action="index" method="get">
                            <input type="text" asp-for="Name" id="name" placeholder="Adınız" required="required" data-validation-required-message="Zəhmət olmasa adınızı daxil edin"><br>
                            <input type="tel" asp-for="Phone" id="telephone" placeholder="Mobil nömrə" required="required" data-validation-required-message="Zəhmət olmasa mobil nömrə daxil edin"><br>
                            <input type="email" asp-for="Email" id="email" placeholder="Email" required="required" data-validation-required-message="Zəhmət olmasa Email daxil edin"><br><br>
                            
                            @if (!string.IsNullOrWhiteSpace(ViewBag.msg))
                            {
                                <input type="submit" value="@ViewBag.msg" class="submit message-1">
                                <input type="submit" value="Göndər" class="submit message-2" style="display:none;">
                            }
                            else
                            {
                                <input type="submit" value="Göndər" class="submit message-2">
                            }

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>