
<link rel="stylesheet" href="/img/assets/css/about.css">

<main>
    <div class="container">
        <section class="about">
            <div class="image-box">
                <img src="/img/assets/images/interyer.jpg" alt="" class="img">
            </div>
            <div class="content-box">
                <div class="inner-col">
                    <div class="titlee">
                        <h2>Fəaliyyətimiz</h2>
                    </div>
                    <div class="about-text">
                       Biz alıcılara, sahibkarlara və tərtibatçılara premium daşınmaz əmlakın alqı-satqısı sahəsində ən effektiv, sadə və sürətli həllər təklif edirik.

                        Biz buna ən müasir marketinq texnologiyalarından istifadə, mütəxəssislərimizin müntəzəm təlimi, peşəkar və etik standartların davamlı təkmilləşdirilməsi vasitəsilə nail oluruq.
                    </div>
                    <ul class="list-style-one">
                        <li>Alqı-satqı işlərində köməklik edəcəyik.</li>
                        <li>Əmlakı idarə altına alacağıq.</li>
                        <li>Hüquqi cəhətdən təhlükəsizliyi təmin edən saziş bağlayacağıq.</li>
                    </ul>
                </div>
            </div>
            <div class="content-box">
                <div class="inner-col">
                    <div class="titlee">
                        <h2>Üstünlüyümüz</h2>
                    </div>
                    <div class="about-text">
                        Biz xarici korporasiyaların, səhibkarların və ayrı-ayrı şəxslərin, o cümlədən əcnəbilərin, top-menecerlərin, ictimai xadimlərin etibarını qazanmışıq.Tövsiyələr bizim etibarlılığımızı, səmərəliliyimizi və çevikliyimizi qeyd edir.
                        Reputasiyamız bizim üçün dəyərlidir!
                    </div>
                    <ul class="list-style-one">
                        <li>Sorğuları tez bir zamanda emal edirik.</li>
                        <li>Axtarışları təşkil edirik.</li>
                        <li>Böyük həcmdə məlumatları təhlil edirik və saxlayırıq.</li>
                    </ul>
                </div>
            </div>
            <div class="image-box">
                <img src="/img/assets/images/interyer2.jpg" alt="" class="img">
            </div>
        </section>



    </div>

</main> 