
<link rel="stylesheet" href="/img/assets/css/about.css">

<main>
    <div class="container">
        <section class="about">
            <div class="image-box">
                <img src="/img/assets/images/interyer.jpg" alt="" class="img">
            </div>
            <div class="content-box">
                <div class="inner-col">
                    <div class="titlee">
                        <h2>Lorem, ipsum dolor. <br>Lorem ipsum dolor sit amet 2023</h2>
                    </div>
                    <div class="about-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <ul class="list-style-one">
                        <li>Lorem Ipsum is simply dummy tex</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Sed do eiusmod tempor incididunt</li>
                    </ul>
                </div>
            </div>
            <div class="content-box">
                <div class="inner-col">
                    <div class="titlee">
                        <h2>Lorem, ipsum dolor. <br>Lorem ipsum dolor sit amet 2023</h2>
                    </div>
                    <div class="about-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <ul class="list-style-one">
                        <li>Lorem Ipsum is simply dummy tex</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Sed do eiusmod tempor incididunt</li>
                    </ul>
                </div>
            </div>
            <div class="image-box">
                <img src="/img/assets/images/interyer2.jpg" alt="" class="img">
            </div>
        </section>



    </div>

</main> 