<footer class="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="logo-widget footer-widget">
                        <figure class="logo-box">
                            <a asp-controller="Home" asp-action="index">
                            <img src="/img/assets/images/logo.png" alt="">
                            </a>
                            </figure>
                        <div class="text">
                            <p>


                                Reputasiyamız bizim üçün dəyərlidir!



                            </p>
                        </div>
                        <ul class="footer-social">
                            
                            <li>
                                <a href="https://www.instagram.com/theaddress.az/" target="_blank">
                                <i class="fab fa-instagram"></i>
                                </a>
                               </li>
                             <li>
                                <a href="https://www.facebook.com/theaddress.az" target="_blank">
                                <i class="fab fa-facebook"></i>
                                </a>
                               </li>
                            
                            <li>
                                <a href="https://www.youtube.com/@@theaddress.azluxurypropert4781" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://az.linkedin.com/in/jahangiroff" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 footer-column f-none">
                    <div class="service-widget footer-widget">
                        <div class="footer-title">Xidmətlər</div>
                        <ul class="list">
                            <li><a href="#">Satış</a></li>
                            <li><a href="#">Kirayə</a></li>
                            <li><a href="#">İcarə</a></li>
                            <li><a href="#">Hüquqi dəstək</a></li>
                            <li><a href="#">Reklam</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-widget f-none">
                    <div class="contact-widget footer-widget">
                        <div class="footer-title">Əlaqə</div>
                        <div class="text">
                            <p>+994 55 555 15 25</p>
                            <p>farid.jahangiroff@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>