<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/signup/fonts/icomoon/style.css">

<link rel="stylesheet" href="~/signup/css/owl.carousel.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/signup/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="~/signup/css/style.css">
  </head>
  <body>

    @RenderBody()

<script src="~/signup/js/jquery-3.3.1.min.js"></script>
<script src="~/signup/js/popper.min.js"></script>
<script src="~/signup/js/bootstrap.min.js"></script>
<script src="~/signup/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>